.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
comments-not-on-github.txt
community_survey_open_ended_comments_2016_2017_1_needswork.csv
data.world set_goodstuffwoman.xlsx
key-performance-indicator-surveys-1needswork.csv
salaries_clean_ok.csv
training_comments - Copy.txt
training_comments.csv
